<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Hi, I'm Chesta 👋</h1>
    <p>BCA Graduate | Python Developer | Data Analyst</p>

    <h2>My Skills</h2>
    <ul style="list-style: none;">
        <li>Python</li>
        <li>SQL</li>
        <li>Flask</li>
        <li>HTML & CSS</li>
    </ul>

    <a href="/contact">Contact Me</a>
</div>

</body>
</html>